* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(-45deg, rgb(0, 0, 0), blue, purple, #11b5d5);
    background-size: 400% 400%;
    color: white;
    overflow-x: hidden;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG{
    0%{
        background-position: 0% 50%;
    }

    50%{
 background-position:100% 50%;
    
    }

    100%{
   background-position: 0% 50%;
    }
    
}

.bg-light {
    position: fixed;
    width: 400px;
    height: 400px;
    background: #38bdf8;
    filter: blur(120px);
    opacity: 0.9;
    border-radius: 50%;
    top: 10%;
    left: 10%;
    z-index: -1;
    animation: movelight 6s infinite alternate;
}

@keyframes movelight {
    from {
        transform: translate(0, 0)
    }

    to {
        transform: translate(200px, 120px);


    }

}

header {
    padding: 25px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    animation: pulseLogo 2s infinite;
}

@keyframes pulseLogo {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    opacity: 0.8;
    transition: 0.3s;
}

nav a:hover {
    opacity: 1;
    color: #67e8f9;
}

.hero {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 8%;
    gap: 40px;
}

.hero-text {
    max-width: 600px;
    animation: slideLeft 1s ease;
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translate(-80px);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

.hero-text h1 {
    font-size: 60px;
    line-height: 1.1;
    margin-top: 20px;
}

.hero-text h1 span {
    background: linear-gradient(90deg, #67e8f9, #c084fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    font-size: 20px;
    color: #dbeafe;
    margin-bottom: 30px;
    line-height: 1.6;
}

.bottons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;
    padding: 15px 28px;
    background: linear-gradient(90deg, #2563eb, #9333ea);
    border-radius: 40px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 25px rgba(147, 51, 234, 0.6);
    transform: 0.3;
    position: relative;
    overflow: hidden;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent rgba(255, 255, 255, .4), transparent);
}

.btn:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 0 40px rgba(103, 231, 249, 0.8);
}

.btn-outline {
    background: transparent;
    border: 2px solid #67e8f9;
}

.card {
    width: 340px;
    padding: 35px;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(18px);
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.35);
    animation: floatCard 3s ease-in-out infinite;
}

@keyframes floatCard {

    0%,
    100% {
        transform: translateX(-80px);
    }

    50% {
        transform: translateX(0);
    }
}

.avatar {
    width: 130px;
    height: 130px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background: linear-gradient(135deg, #38bdf8, #9333ea);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    box-shadow: 0 0 35px rgba(103, 232, 249, 0.7s);
}

.card h2 {
    text-align: center;
    margin-bottom: 25px;
}

.card p {
    text-align: center;
    color: white;
    margin-bottom: 25px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-info a {
    text-decoration: none;
    color: white;
    padding: 14px;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.12);
    transition: 0.3s;
}

.contact-info a:hover {
    background: rgba(102, 232, 249, 0.25);
    transform: translateX(8px);
}

.typing {
    overflow: hidden;
    letter-spacing: nowrap;
    border-right: 3px solid #67e8f9;
    width: 0;
    animation: typingg 3s steps(20, end) forwards,
        blink 8s infinite;
}

@keyframes typingg {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-radius: transparent;
    }
}

.stats {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 50px;
}

.stat {
    text-align: center;
    background: #213c7c;
    padding: 22px 8%;
    border-radius: 50%;
    box-shadow: 10px 25px 50px rgba(233, 229, 229, 0.15);
}

.stat h3 {
    font-size: 48px;
    background: linear-gradient(90deg, #67e8f9, #9333ea, gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services {
    padding: 70px 8%;
    text-align: center;
}

.services h2 {
    font-size: 38px;
    margin-bottom: 35px;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.service {
    padding: 35px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    transition: 0, 4s;
}

.service:hover {
    transform: translateY(-12px);
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.service span {
    font-size: 50px;
    display: block;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    color: wheat;
    padding: 35px;
}

.advantages {
    padding: 100px 8%;
    text-align: center;
}

.advantages h2 {

    font-size: 42px;
    margin-bottom: 60px;
}


.advantages-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.advantages-card {
    background: rgba(250, 241, 241, 0.8);
    border-radius: 25px;
    padding: 40px 30px;
    backdrop-filter: .5s;
}

.advantages-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 20px 50px rgb(22, 187, 212);
}

.icon {
    font-size: 60px;
    margin-bottom: 20px;
}

.advantages-card h3 {
    margin-bottom: 15px;
    color: #15aaf5;
}


.advantages-card p {
    color: #0f16f2;
    line-height: 1.6;
}

.reveal {
    opacity: 0;
    transform: translateY(80px);
    transition: all 1s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.advantages-card {
    opacity: 0;
    transform: translateY(5px);
}

@keyframes cardAppear {
    to {
        opacity: 1;
        transform: translateY(1);
    }
}

.reveal.active .advantages-card:nth-child(1) {
    animation: cardAppear .8s forwards .2s;
}

.reveal.active .advantages-card:nth-child(2) {
    animation: cardAppear .8s forwards .4s;
}

.reveal.active .advantages-card:nth-child(3) {
    animation: cardAppear .8s forwards .6s;
}

.reveal.active .advantages-card:nth-child(4) {
    animation: cardAppear .8s forwards .8s;
}

.portfolio {
    padding: 80px 8%;
    text-align: center;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.portfolio-card {
    padding: 70px 20px;
    border-radius: 25px;
    background: rgba(126, 121, 121, 0.8);
    transition: .4s;
}

.portfolio-card:hover {
    transform: translateY(-15px) rotate(2deg);
    box-shadow: 0 20px 50px rgba(103, 232, 250, 0.3);
}